@mixin button {
	@include radius(4px);
	border: 1px solid transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	line-height: 20px;
	padding: 7px 17px;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}

@mixin radius($val) {
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	-ms-border-radius: $val;
	-o-border-radius: $val;
	border-radius: $val;
}

@mixin box {
	@include box-shadow(0 1px 4px rgba(28,8,8,0.2));
	@include radius(3px);
}

@mixin box-shadow($val...) {
	-webkit-box-shadow: $val;
	-moz-box-shadow: $val;
	-ms-box-shadow: $val;
	-o-box-shadow: $val;
	box-shadow: $val;
}

@mixin transition($val...) {
	-webkit-transition: $val;
	-moz-transition: $val;
	-ms-transition: $val;
	-o-transition: $val;
	transition: $val;
}