/**
 * Green | Orange Color
 * minus -> normal -> plus
*/

$green: #4cae4c;

$green-minus: #5cb85c;

$green-normal: #4cae4c;

$green-plus: #3c9e3c;

$orange: #ea7138;

$orange-minus: #eb8142;

$orange-normal: #ea7138;

$orange-plus: #da6128;

/**
 * White | v1 | v2 | v3
*/

$white: #fff;

$light-color-v1: #fcf6f3;

$light-color-v2: #faf4f1;

$light-color-v3: #efeded;

/**
 * Fonts Color
*/

$font-color-v1: #546673;
$font-color-v2: #5c648c;