.topics > li {
	border-bottom: 1px solid #ededed;
	min-height: 70px;
	padding: 8px 8px 8px 76px;
	position: relative;
}
.topics > li .topic-meta > span, .topics > li .topic-meta > a {
	font-size: 14px;
	color: #5c648c;
	opacity: 0.8;
}
.topics > li > a {
	line-height: 32px;
	font-size: 16px;
}

.login form label.inline > span {
	font-size: 14px;
}

p.joinus {
	font-size: 24px;
	line-height: 48px;
	padding: 20px 40px;
}

span.error {
	background-color: #c03d20;
	color: #fff;
	padding: 2px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #fafafa;
	font-size: 14px;
}

.profile-form {
	padding: 40px 8%;
}
.users-roles > p {
	font-weight: bold;
	color: #eb8142;
	font-family: 'Ubuntu';
	background-color: #faf4f1;
	text-align: center;
	padding: 12px 0;
}
.select-nodes {
	padding: 20px 32px;
}
.select-nodes > li {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 8px;
}
.select-nodes > li > a {
	display: block;
	color: #eb8142;
	font-weight: bold;
	background-color: #faf4f1;
	border-radius: 100px;
	white-space: nowrap;
	font-size: 14px;
	line-height: 20px;
	padding: 4px 12px;
	border: 2px solid #e6eaed;
	-webkit-transition: .32s all ease-in-out;
	-moz-transition: .32s all ease-in-out;
	-ms-transition: .32s all ease-in-out;
	-o-transition: .32s all ease-in-out;
	transition: .32s all ease-in-out;
}
.select-nodes > li > a:hover {
	color: #faf4f1;
	background-color: #eb8142;
	border: 2px solid rgba(241,175,110,0.5);
	opacity: 0.9;
}
.select-nodes > li.active > a {
	color: #faf4f1;
	background-color: #eb8142;
	border: 2px solid rgba(241,175,110,0.5);
	opacity: 0.9;
	cursor: default;
}
.topic-form {
	padding: 0 5%;
}

.nice-box > .text-center {
	margin-top: 20px;
	margin-bottom: 20px;
}
.nice-message {
	color: #eb8142;
	font-size: 14px;
}
#insert-picture, #insert-link {
	cursor: pointer;
	padding: 0 8px;
	opacity: 0.5;
}
#insert-picture:hover, #insert-link:hover {
	opacity: 1;
}
.topic-form li > label.inline {
	padding-right: 0;
}

.edit-password, .edit-profile, .create-user, .create-session, .create-reminder, .password-reset {
	padding: 20px 120px 20px 40px;
}
.edit-password li, .edit-profile li, .create-user li.field, .create-session li, .create-reminder li, .password-reset li {
	text-align: right;
}
.edit-avatar {
	margin-top: 10px;
	padding: 0 5% 5% 5%;
}

.open-file {
	display: inline-block;
	width: 100px;
	height: 100px;
	cursor: pointer;
	top: -100px;
	position: relative;
	opacity: 0;
}
.cool-error {
	color: #d04526;
	font-size: 14px;
}
li.custom .wide {
	width: 65.33333%;
	float: right;
}
li.custom {
	position: relative;
	max-width: 100%;
	margin-bottom: 10px;
	vertical-align: middle;
	font-size: 16px;
	overflow: hidden;
}
.user-info {
	padding: 40px 40px;
}
.user-info > li {
	padding: 4px 120px 4px 20px;
}
.user-info > li > span {
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 20px;
}
.user-info > .nice-avatar {
	float: right;
	width: 120px;
}
.user-info > .nice-avatar > a {
	margin-top: 12px;
}





.vcard > .user-status {
	text-align: center;
	border-top: 1px solid #ededed;
	padding-top: 10px;
}

.vcard > .user-status > li > a {
	font-size: 22px;
	line-height: 36px;
	color: #5c648c;
	opacity: 0.7;
}
.vcard > .user-status > li > a:hover {
	opacity: 0.9;
}
.vcard > .user-status > li > a > span {
	display: block;
	font-size: 14px;
	line-height: 20px;
	color: #546673;
	opacity: 0.7;
}
.vcard > .info {
	padding-left: 140px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #727272;
}
.vcard > .info > .nice-avatar {
	position: absolute;
	left: 28px;
	top: 20px;
}


.trigger-content:hover {
	opacity: 1;
	cursor: pointer;
}
span.plus {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.04);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.04);
	-ms-box-shadow: 0 1px 0 rgba(0,0,0,.04);
	-o-box-shadow: 0 1px 0 rgba(0,0,0,.04);
	box-shadow: 0 1px 0 rgba(0,0,0,.04);
	background-color: #fff;
	border: 1px solid #d0d0d0;
	padding: 0 8px 0 2px;
	cursor: pointer;
}
span.plus:hover {
	background-color: #f8f8f8;
	border: 1px solid #cdcdcd;
}
ul.status {
	padding: 20px 20px;
}
ul.status > li {
	border-left: 3px solid #ededed;
	padding-left: 16px;
}
ul.status span, ul.status a {
	font-size: 14px;
	color: #5c648c;
}
.action-frozen {
	color: #aeaeae;
	cursor: pointer;
}
.action-frozen.actived {
	color: #82b440;
}