.wrapper {
	background-color: #faf4f1;
	padding-top: 80px;
}
.nav-bar {
	min-height: 50px;
	background-color: #eb8142;
	color: #fff;
	-webkit-box-shadow: 0 3px 6px rgba(241,175,110,0.5);
	-moz-box-shadow: 0 3px 6px rgba(241,175,110,0.5);
	-ms-box-shadow: 0 3px 6px rgba(241,175,110,0.5);
	-o-box-shadow: 0 3px 6px rgba(241,175,110,0.5);
	box-shadow: 0 3px 6px rgba(241,175,110,0.5);
	opacity: 0.94;
}
.nav-bar > div {
	min-height: 50px;
}
.top-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.io {
	float: right;
	height: 50px;
	margin-bottom: 0;
}
.io > li {
	height: 100%;
	padding: 0 4px;
}
.io > li > a {
	display: block;
	height: 100%;
	text-align: center;
	text-decoration: none;
	line-height: 50px;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	padding: 0 16px;
	-webkit-transition: .12s all ease-in-out;
	-moz-transition: .12s all ease-in-out;
	-ms-transition: .12s all ease-in-out;
	-o-transition: .12s all ease-in-out;
	transition: .12s all ease-in-out;

}
.io > li > a:hover {
	background-color: #ea7138;
	color: #f3fdf8;
}
.master {
	min-height: 400px;
}
.nice-box {
	background: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(28,8,8,.2);
	-moz-box-shadow: 0 1px 4px rgba(28,8,8,.2);
	-ms-box-shadow: 0 1px 4px rgba(28,8,8,.2);
	-o-box-shadow: 0 1px 4px rgba(28,8,8,.2);
	box-shadow: 0 1px 4px rgba(28,8,8,.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	min-height: 80px;
	margin-bottom: 20px;
}
.topics {
	overflow: hidden;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;

}
.pagination {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	min-height: 50px;
}
.topics > li {
	border-bottom: 1px solid #ededed;
	min-height: 70px;
}
.footer {
	margin-top: 12px;
	background-color: #fcf6f3;
	border-top: 1px solid #ededed;
	color: #546673;
}
.footer > .row {
	padding: 20px 0;
}
.footer p {
	text-transform: uppercase;
	opacity: 0.5;
	font-family: 'Ubuntu';
	font-size: 14px;
	text-align: center;
}
.modal {
	background: rgba(0, 0, 0, 0.58);
}
.modal > .content {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	max-height: 50%;
	min-height: 35%;
	width: 40%;
}