defaults: &defaults

  admin_emails:
    - 'master@gmail.com'
    - 'member@gmail.com'

  assets_url: ''

  qiniu:
    scope: ''
    ak: ''
    sk: ''

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
